{% extends 'base.html' %}

{% block title %}
My Blogs
{% endblock  %}


{% block jumbotron %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi, I am Moses!</h1>
      <p class="lead text-muted">
        Here are my Blogs.
      </p>
      <p>
        <a href="mailto:muraguri64@gmail.com" class="btn btn-primary my-2">Email Me</a>
      </p>
    </div>
  </section>
{% endblock %}

{% block content %}

{% for blog in blogs.all %}


<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="Blog Image">
    <div class="card-body">
      <h5>{{ blog.title }}</h5>
      <p class="card-text">{{ blog.summary }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a href="{% url 'blog_detail' blog.id %}" class="btn btn-sm btn-outline-secondary">Read More</a>
        </div>
         <small class="text-muted">{{ blog.pub_date_pretty }}</small>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
