{% extends 'base.html '%}


{% block content %}

<div class="col-md-5 offset-md-3">
  {% if error%}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ error }}</strong>
  </div>
  {%endif%}
</div>

<div class=" col-md-5 offset-md-3">

    {% csrf_token %}
    <form id="create_blog" class="form-create_blog" method="POST" url="{% url 'create_blog' %}" enctype="multipart/form-data">

    <h1 class="h3 mb-3 font-weight-normal text-center">Create Blog</h1>

    <label for="title"><b>Title:</b></label>
    <input type="text" id="title" class="form-control" name="title" placeholder="Blog Title" required autofocus>

    <br/>
    <label for="image"><b>Image:</b></label>
    <input type="file" id="image" class="form-control-file border" name="image" required>
    <br/>

    <label for="body"><b>Description:</b></label>
    <textarea class="form-control" rows="5" id="body" name="body" placeholder="Description" required></textarea>


    <br/>
    <button class="btn btn-primary btn-block" type="submit">Create</button>

  </form>
</div>
{% endblock %}

{% block script %}
  <Script>
  $("#create_blog").submit(function(e){
    e.preventDefault();
    var url = "{% url 'create_blog' %}";

    var myform = document.getElementById("create_blog");
    var fd = new FormData(myform);

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

  var csrftoken = getCookie('csrftoken');


    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      },
      method: "POST",
      data: fd,
      url: url,
      cache: false,
      contentType: false, //must, tell jQuery not to process the data
      processData: false,
      dataType: 'json',
      success: function(data){
        console.log(data.message)
        if(data.message == "success"){
          var url_redirect = "{% url 'allblogs' %}"
          window.location.replace(url_redirect);
        }


      },
      error:function(err){
        console.log("error!")
        console.log(err)
      }

    });

    $.ajax();


  });
  </script>
{% endblock %}
